
<%= render 'shared/errors', obj: @contact  %>

  <%= form_for(@contact, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class='row'>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.label :firstname %>
        <%= f.text_field :firstname, class: "form-control input-box", placeholder: "First Name", autofocus: true %>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.label :middlename %>
        <%= f.text_field :middlename, class: "form-control input-box", placeholder: "Middle Name", autofocus: true %>
      </div>
    </div>
  </div>
    <div class='row'>
      <div class='col-sm-6'>
      <div class="form-group">
          <%= f.label :lastname %>
          <%= f.text_field :lastname, class: "form-control input-box", placeholder: "Last Name", autofocus: true %>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class="form-group">
          <%= f.label :streetnumber %>
          <%= f.text_field :streetnumber, class: "form-control input-box", placeholder: "Street Number", autofocus: true %>
        </div>
      </div>
     </div>
     <div class='row'>
      <div class='col-sm-6'>
        <div class="form-group">
          <%= f.label :streetname %>
          <%= f.text_field :streetname, class: "form-control input-box", placeholder: "Street Name", autofocus: true %>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, class: "form-control input-box", placeholder: "City", autofocus: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :state %>
          <%= f.text_field :state, class: "form-control input-box", placeholder: "State", autofocus: true %>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :zipcode %>
          <%= f.text_field :zipcode, class: "form-control input-box", placeholder: "zipcode" %>
        </div>
      </div>
    </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <%= f.submit class: 'btn btn-primary btn-lg' %>
        </div>
    </div>
  <% end %>
    <div class="col-xs-4 col-xs-offset-4">
        [ <%= link_to "Cancel request and return to Contact listing", contacts_path %> ]
    </div>

