<h1 align="center">Listing all contacts</h1>
<% @contacts.each do |contact| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="contact-title">
          <%= link_to contact.firstname, contact_path(contact) %>
            </div>
              <div class="contact-body">
                <strong>Full Name: </strong><%= simple_format(contact.firstname + ' ' + contact.middlename + ' ' + contact.lastname) %>
                <strong>Complete Address: </strong><%= simple_format(contact.address) %>
              </div>
            <div class="contact-actions">
              <%= link_to "Edit this contact", edit_contact_path(contact), class: "btn btn-xs btn-primary" %>
              <%= link_to "Delete this contact", contact_path(contact), method: :delete,
                  data: { confirm: "Are you sure you want to delete the contact?"}, class: "btn btn-xs btn-danger" %>
          </div>
      </div>
    </div>
  </div>
<% end %>
