  <h2 align="center">Contact of : <%= @contact.firstname + ' ' + @contact.lastname %></h2>
<div class="well col-xs-6 col-xs-offset-3">
    <h4 class="center description"><strong>Address Details:</strong></h4>
<hr>
  <strong>Full Name: </strong><%= simple_format(@contact.firstname + ' ' + @contact.middlename + ' ' + @contact.lastname) %>
  <strong>Complete Address: </strong><%= simple_format(@contact.address) %>

  <div class="contact-actions">
    <%= link_to "Edit this contact", edit_contact_path(@contact), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete this contact", contact_path(@contact), method: :delete,
    data: { confirm: "Are you sure you want to delete the contact?"},
    class: "btn btn-xs btn-danger" %>
    <%= link_to "View all contact", contacts_path, class: "btn btn-xs btn-success" %>
  </div>
</div>

